.code {
  > pre {
    height: 350px;
    overflow-y: scroll;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }

  label {
    color: $state-danger-text;
  }
}

.error-explanation {
  color: $state-danger-text;
}

.pastes {
  > h2 {
    text-align: center;
  }
}

.pastes-menu {
  small {
    color: lighten($gray-base, 75%);
    display: block;
  }
}

.paste-details {
  display: block;
  margin-bottom: 5px;
}
