<div class="row">
  <div class="col-sm-10">
    <h2>New Paste</h2>
    <%= render 'paste_form', object: @paste %>
  </div>
  <div class="pastes col-sm-2">
    <h2>Pastes</h2>

    <ul class="pastes-menu">
      <%= render @pastes %>
    </ul>
  </div>
</div>
